body {
	
}

#background {
background: rgb(8,8,8);
background: radial-gradient(circle, rgba(8,8,8,1) 8%, rgba(255,255,255,1) 68%);
         height: 100vh;
        width: 100%;
        margin: 0px;
        position:fixed;
        top:0px;
        right:0px;
        bottom:0px;
        left:0px;
}

#container {
         height: 100vh;
        width: 100%;
        margin: 0px;
        position:fixed;
        top:0px;
        right:0px;
        bottom:0px;
        left:0px;
        display: inline-flex;
        justify-content: center;
}

#main {
	background-color: rgba(255, 255, 255, 0.77);;
	border-radius: 20px;
	width: 40vw;
	height: 60vh;
	align-self: center;
	position: absolute;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}

.login {
	width: 50%;
	height: 50%;
	align-self: center;
	position: absolute;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
}

.login input {
	background-color: transparent;
	outline: none;
	border: none;
	font-size: 1.3rem;
	border-bottom-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
}